src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:c24="http://www.mulesoft.org/schema/mule/c24" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
    http://www.mulesoft.org/schema/mule/c24 http://www.mulesoft.org/schema/mule/c24/current/mule-c24.xsd
    http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd"
>
    <c24:config name="C24_Connector" doc:name="C24 Connector"/>
    
    <flow name="parse">
        <c24:parse config-ref="C24_Connector" type="biz.c24.io.gettingstarted.customer.CustomersFile"/>
    </flow>

    <flow name="parse-with-options">
        <c24:parse config-ref="C24_Connector" type="biz.c24.io.gettingstarted.customer.CustomersFile"
                   encoding="#[flowVars.encoding]" format="#[flowVars.format]"/>
    </flow>

    <flow name="validateFlow">
        <c24:validate config-ref="C24_Connector"/>
    </flow>

    <flow name="customersFileTransformFlow">
        <c24:transform config-ref="C24_Connector" transform="biz.c24.io.gettingstarted.transform.GenerateContactListTransform"/>
    </flow>

    <flow name="marshalFlow">
        <c24:marshal config-ref="C24_Connector" />
    </flow>

    <flow name="jsonMarshalFlow">
        <c24:marshal config-ref="C24_Connector" format="JSON" encoding="ASCII"/>
    </flow>

    <flow name="contactListConvertFlow" doc:name="contactListConvertFlow">
        <c24:convert config-ref="C24_Connector" transform="biz.c24.io.gettingstarted.transform.GenerateContactListTransform" doc:name="C24 Connector"/>
    </flow>

    <flow name="contactListNonValidatingConvertFlow" doc:name="contactListNonValidatingConvertFlow">
        <c24:convert config-ref="C24_Connector" transform="biz.c24.io.gettingstarted.transform.GenerateContactListTransform" validateInput="false" validateOutput="false" doc:name="C24 Connector"/>
    </flow>

    <flow name="generateMarketingLinksTransformFlow">
        <c24:transform-advanced config-ref="C24_Connector" transform="biz.c24.io.gettingstarted.transform.GenerateMarketingLinksTransform" doc:name="C24-iO Connector">
            <c24:inputs>
                <c24:input value-ref="#[payload]"/>
                <c24:input value-ref="#['http://test']"/>
                <c24:input value-ref="#[12345]"/>
            </c24:inputs>
        </c24:transform-advanced>
    </flow>

</mule>
