demo/src/main/app/mymuleproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:c24="http://www.mulesoft.org/schema/mule/c24" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/c24 http://www.mulesoft.org/schema/mule/c24/current/mule-c24.xsd"
>
    <c24:config name="C24_iO_Connector" doc:name="C24-iO Connector"/>
    <flow name="mymuleprojectFlow1" doc:name="mymuleprojectFlow1">
        <file:inbound-endpoint path="/tmp" responseTimeout="10000" doc:name="File">
            <file:filename-regex-filter pattern=".*\.xml" caseSensitive="true"/>
        </file:inbound-endpoint>
        <c24:parse config-ref="C24_iO_Connector" type="biz.c24.io.gettingstarted.customer.CustomersFile" doc:name="Parse"/>
        <c24:validate config-ref="C24_iO_Connector" doc:name="Validate"/>
        <c24:transform config-ref="C24_iO_Connector" transform="biz.c24.io.gettingstarted.transform.GenerateContactListTransform" doc:name="Transform"/>
        <c24:marshal config-ref="C24_iO_Connector" format="TAG_VALUE" doc:name="Marshal to Tag-Value"/>
        <file:outbound-endpoint path="/tmp" outputPattern="#[message.inboundProperties['originalFilename']].txt" responseTimeout="10000" doc:name="File"/>
    </flow>

</mule>
